p,
h1,
h2 {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-container {
  padding: 2% 15% 0 15%;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  height: 40px;
  transition: height .3s ease-out;
}

.nav-link:hover {
  height: 45px;
}

.middle-nav-link {
  padding-left: 1em;
  padding-right: 1em;
}

/*.nav-links-container {
  display: flex;
  justify-content: space-between;
  height: 2%;
}

.nav-item {
  padding: 1% 4% 0 4%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-item:hover {
  border-top: 1px solid black;
  text-decoration: none;
  color: black;
}*/

.header-initials {
  border-top: 2px solid white;
  width: 6%;
  font-size: 40px;
  font-family: "Shrikhand", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1%;
  transition: border-top 1s ease;
  transition: color 1s ease;
}

.header-initials:hover {
  border-top: 2px solid black;
  color: white;
}

.intro-container {
  margin: 3% 15%;
}

.intro-image {
  height: 420px;
  margin-right: 5%;
  float: left;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.intro-text {
  font-size: 16px;
}

.experience-container {
  /*background: linear-gradient(to bottom, #52a7ea , #59b2ea);*/
  background: linear-gradient(to bottom, #52a7ea , #59b2ea);
  padding: 2% 15% 3% 15%;
}

.experience-header-container {
  float: left;
}

.experience-header {
  color: white;
  font-size: 32px;
  margin-bottom: .3em;
  border-bottom: 1px solid black;
}

.experience-subtitle {
  margin-top: .5em;
  color: #5a5a5a;
}

.experience-icon {
  height: 60px;
}

.experience-card-container {
  padding: 1%;
}

.card-right {
  margin: 3% 0 0 23%;
}

.experience-more-details {
  display: none;
}

.experience-description {
  color: black;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display-linebreak {
  white-space: pre-line;
}

.landing-container {
  /*background: linear-gradient(to bottom, #395C4E , #3f6C4E);*/
  background: linear-gradient(to bottom, #52a7ea , #59b2ea);

/*  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B8FU8DFSipsctoeb/sunrise-over-mountains-nature-background-aerial-video-4k-sunset-sunshine-in-himalayas-nepal-sun-rises-on-clear-sky_rhp1dqgk__F0000.png');
  background-repeat: no-repeat;
  background-size: cover;*/
}

.landing-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12% 20% 12% 20%;
}

.header-name-landing {
  font-size: 80px;
  font-family: "Shrikhand", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0;
  transition: color 1s ease;
}

.header-name-landing:hover {
  color: #5a5a5a;
}

.landing-subtitle {
  font-weight: 400;
  font-size: 30px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 0;
  color: white;
}

.arrow {
  text-align: center;
  padding-bottom: 3%;
  color: #5a5a5a;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.projects-container {
  padding: 2% 15% 3% 15%;
}

.projects-header-container {
  float: left;
  margin-right: 3%;
}

.projects-header {
  font-size: 32px;
  margin-bottom: .1em;
  border-bottom: 1px solid black;
}

.projects-icon {
  height: 60px;
}

.projects-details-container {
  margin-top: 15%;
}

.projects-item-container {
  display: flex;
  flex-direction: row;
  margin: 3% 5% 5% 5%;
  border-bottom: 1px solid black;
  padding-bottom: 5%;
}

.no-border {
  border: none;
}

.projects-image-container {
  transition: opacity .3s ease-out;
  opacity: 1;
}

.projects-image-container:hover {
  opacity: 0;
}

.projects-image {
  /*padding: 1px;*/
  /*border: .6px solid black;*/
  /*border-radius: 2%;*/
  height: 320px;
}

.projects-image-laptop {
  height: 280px;
}

.projects-visit {
  display: inline;
  /*border-right: 1px solid black;*/
  /*margin-right: 1%;*/
  /*padding-right: 2%;*/
  transition: border 1s ease-out;
  transition: font-size .5s ease-out;
}
.projects-visit:hover {
  border-bottom: 1px solid #59b2ea;
  font-size: 20px;
}

.projects-links-border {
  display: inline;
  /*border-right: 1px solid black;*/
  padding: 2%;
}

.projects-visit-link {
  color: #59b2ea;
}
.projects-visit-link:hover {
  color: #5a5a5a;
  font-weight: 800
}

.projects-github {
  display: inline;
  /*border-right: 1px solid black;*/
  /*margin-right: 1%;*/
  /*padding-right: 2%;*/
  transition: border 1s ease-out;
  transition: font-size .5s ease-out;
}
.projects-github:hover {
  border-bottom: 1px solid #59b2ea;
  font-size: 20px;
}


