p,
h1,
h2 {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-container {
  padding: 2% 15% 0 15%;
  /*display: flex;
  justify-content: space-between;*/
}

/*.nav-links-container {
  display: flex;
  justify-content: space-between;
  height: 2%;
}

.nav-item {
  padding: 1% 4% 0 4%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-item:hover {
  border-top: 1px solid black;
  text-decoration: none;
  color: black;
}*/

.header-initials {
  border-top: 2px solid black;
  width: 6%;
  font-size: 40px;
  font-family: "Shrikhand", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1%;
}

.intro-container {
  margin: 3% 15%;
}

.intro-image {
  height: 420px;
  margin-right: 5%;
  float: left;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.intro-text {
  font-size: 16px;
}

.experience-container {
  /*background: linear-gradient(to bottom, #395C4E , #3f6C4E);*/
  background: linear-gradient(to bottom, #52a7ea , #59b2ea);
  padding: 2% 15% 3% 15%;
}

.experience-header-container {
  float: left;
}

.experience-header {
  font-size: 32px;
  margin-bottom: .3em;
  border-bottom: 1px solid black;
}

.experience-subtitle {
  margin-top: .5em;
  color: #5a5a5a;
}

.experience-icon {
  height: 60px;
}

.experience-card-container {
  padding: 1%;
}

.card-right {
  margin: 3% 0 3% 23%;
}

.experience-more-details {
  display: none;
}

.experience-description {
  color: black;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.display-linebreak {
  white-space: pre-line;
}

.landing-container {
  /*background: linear-gradient(to bottom, #395C4E , #3f6C4E);*/
  background: linear-gradient(to bottom, #52a7ea , #59b2ea);

  /*background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B8FU8DFSipsctoeb/sunrise-over-mountains-nature-background-aerial-video-4k-sunset-sunshine-in-himalayas-nepal-sun-rises-on-clear-sky_rhp1dqgk__F0000.png');*/
  /*background-repeat: no-repeat;
  background-size: cover;*/
}

.landing-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 12% 20% 12% 20%;
}

.header-name-landing {
  font-size: 80px;
  font-family: "Shrikhand", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 0;
  transition: color 1s ease;
}

.header-name-landing:hover {
  color: #5a5a5a;
}

.landing-subtitle {
  font-weight: 400;
  font-size: 30px;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 0
}

.arrow {
  text-align: center;
  padding-bottom: 3%;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.projects-container {
  padding: 2% 15% 3% 15%;
}

.projects-header-container {
  float: left;
  margin-right: 3%;
}

.projects-header {
  font-size: 32px;
  margin-bottom: .1em;
  border-bottom: 1px solid black;
}

.projects-icon {
  height: 60px;
}

.projects-section-container {
  display: flex;
  flex-direction: row;
  margin: 15% 5% 5% 5%;
}

.projects-image {
  border: .6px solid black;
  border-radius: 2%;
  width: 420px;
  height: 280px;
}
