p,
h1,
h2 {
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-container {
  padding: 2% 15% 0 15%;
  background-color: #395C4E;
  display: flex;
  justify-content: space-between;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  height: 2%;

}

.nav-item {
  padding: 1% 4% 0 4%;
  margin-left: 1%;
  margin-right: 1%;
  font-size: 18px;
  color: black;
  text-decoration: none;
  font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-item:hover {
  border-top: 1px solid black;
  text-decoration: none;
  color: black;
}

.header-initials {
  border-top: 3px solid black;
  font-size: 70px;
  font-family: "Shrikhand", "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1%;
}

.intro-container {
  display: flex;
  margin: 2% 15%;
  flex-direction: row;
  justify-content: space-around;
}

.intro-image {
  width: 340px;
  height: 420px;
  margin-right: 5%;
}

.intro-text {
  font-size: 16px;
}

.experience-container {
  background-color: #395C4E;
  padding: 2% 15% 0 15%;
  text-align: center;

}


